@model IEnumerable<CinemaPortalCore.Models.Employee>

<div class="container">
    <div class="row">
        <div class="text-primary col-6 mt-4">
            <h1>Manage Employees</h1>
        </div>

    </div>

    <hr />

    @if (Model.Count() > 0)
    {
        <table class="table border border-dark text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Surname</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Jobrole</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                <tr>
                    <td>@employee.Surname</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Jobrole</td>
                    <td>
                        <div class="btn-group" role="group">

                            @{if (employee.Jobrole == "manager")
                                {
                                    <a class="btn btn-secondary mx-1 disabled">PROMOTE</a>
                                }
                                else
                                {
                                    <a class="btn btn-success mx-1" asp-controller="Employee" asp-action="PromoteEmployee" asp-route-id="@employee.Employee_ID">PROMOTE</a>
                                }

                                if (employee.Jobrole == "employee")
                                {
                                    <a class="btn btn-secondary mx-1 disabled">DEMOTE</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning mx-1" asp-controller="Employee" asp-action="DemoteEmployee" asp-route-id="@employee.Employee_ID">DEMOTE</a>
                                }
                            }
                            <a class='btn btn-primary mx-1' asp-controller="Employee" asp-action="UpdateEmployee" asp-route-id="@employee.Employee_ID">UPDATE</a>
                            <a class='btn btn-danger mx-1' asp-controller="Employee" asp-action="DeleteEmployee" asp-route-id="@employee.Employee_ID">DELETE</a>
                        </div>
                    </td>
                </tr>

                }
            </tbody>



        </table>
    }
    else
    {
        <p>No Employees to manage</p>
    }
    </div>

