@model IEnumerable<CinemaPortalCore.Models.Movie>

<div class="container">
    <div class="row">
        <div class="text-primary mt-4">
            <h1>Manage Movies</h1>
        </div>
    </div>

    <hr />

    @if (Model.Count() > 0)
    {
        <table class="table border border-dark text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Releast Date</th>
                    <th scope="col">Star Rating</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                <tr>
                    <td>@movie.Movie_ID</td>
                    <td>@movie.Title</td>
                    <td>@movie.ReleaseDate</td>
                    <td>@movie.StarRating</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class='btn btn-primary mx-1' asp-controller="Movie" asp-action="UpdateMovie" asp-route-id="@movie.Movie_ID">UPDATE</a>
                            <a class='btn btn-danger mx-1' asp-controller="Movie" asp-action="DeleteMovie" asp-route-id="@movie.Movie_ID">DELETE</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>No Movies to manage</p>
    }



</div>
